*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin-left: 100px;
    margin-top: 50px;
}

#tableName {
    margin-left: 35px;
    margin-top: 20px;
}

#tableName tr td {
    padding: 10px;
}

#tableName table {
    border: none;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
}

label {
    font-size: 20px;
}